<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<xdt:Import path="bin\Debug\xdt\CustomXdtTransforms.dll" namespace="CustomXdtTransforms.Transforms" />
	<appSettings>    
		<!-- ICfEnvironmentInfoProvider-->
		<add key = "SqlCmProdUrl" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "SqlGoogleProdDatabase" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "PortalUrl" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "SsasConnectionString" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "DatabaseConnection" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "ConnectClearfinancialsUrl" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "SupportClearmomentum" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "LocalDomain1" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "LocalDomain2" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "CFDomainName" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "apiUrl" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "DefaultDomainName" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "DesktopAdditionalDomainNames" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "DomainName1" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "ClearFinancialsWebHost" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "UserReportDesignerHelpGuide" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<!-- ICfEnvironmentInfoProvider-->

		<!-- IDatabaseInfoProvider-->
		<add key = "ProdDatabaseServer" value="CMCORP-SQL-DEV1.clearfinancials.com" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "ProdGoogleDatabaseServer" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "CorpDevDatabaseServer" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "LogDatabaseServer" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "ProdDatabaseName" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "AsDatabaseName" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "ErrorsDatabaseName" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "AsCubeName" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "ConnectionMetadata" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "CriticalErrorMetadata" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "AdminUserName" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "AdminPassword" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "AdminPsUserName" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "AdminPsPassword" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<!-- IDatabaseInfoProvider-->
		

		<!-- ISmtpSettingsProvider-->
		<add key = "SmtpServerName" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "SmtpPort" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "SmtpUserName" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "SmtpPassword" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "SmtpUserEmail" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "SmtpClientEnableSsl" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<!-- ISmtpSettingsProvider-->

		<!-- ILdapInfoProvider -->
		<add key="PathUrl" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key="PathUrl2" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key="DomainName" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key="RootUsersOrgUnitPath" xdt:Transform="Encode" xdt:Locator="Match(key)"  />
		<add key="RootUsersOrgUnitName" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key="RootUsersOrgUnitFilter" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key="ServerBindLogin" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key="ServerBindPassword" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<!-- ILdapInfoProvider -->

		<!-- ISupportInfoProvider-->
		<add key = "DesktopEmail" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "DesktopPhone" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "ProfessionalServicesEmail" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "HelpDeskEmail" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "AdministratorEmail" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "DataAlertsEmail" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "DataCenterEmail" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "EngineeringEmail" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "SupportUrl" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "ReleaseNotesUrl" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key = "AlertEmail" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<!-- ISupportInfoProvider-->
		
	</appSettings>
</configuration>