<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ICFWebApiMethodPathsProvider-->
		<add key="ClearfinancialsCreateReportPath" value="/_layouts/ClearFinancials/CreateReport.aspx?SiteURL="/>
		<add key="AccountUserInfoPath" value="/api/Account/UserInfo"/>
		<add key="GetCFSitePath" value="/site/getCFSite"/>
		<add key="ChangePasswordPath" value="/api/Account/ChangePassword"/>
		<add key="GetTemplateAllCFSitePath" value="/template/getAll?CFSiteName={0}"/>
		<add key="GetEntityContextPath" value="api/Entity/GetEntityContext?Entity="/>
		<add key="SetLastApprovedPeriodPath" value="/entity/setLastApprovedPeriod?username="/>
		<add key="ProductionProcessCubePath" value="/api/Cube/ProcessCube"/>
		<add key="GetEntityDataListPath" value="/api/entity/GetEntityDataList?Entity="/>
		<add key="GetEntityDataValueBulkPath" value="/api/EntityData/GetEntityDataValueBulk?ReturnMostRecent="/>
		<add key="GetCompanyLastCommonClosedPeriodPath" value="/api/Entity/GetCompanyLastCommonClosedPeriod?Entity="/>
		<add key="GetDateFromPeriodMDXPath" value="/api/Period/GetDateFromPeriodMDX"/>
		<add key="AddComentarySectionPath" value="/api/Commentary/addCommentarySection?companyName={0}&amp;periodName={1}&amp;commentary={2}&amp;section={3}"/>
		<add key="GetComentarySectionPath" value="/api/Commentary/GetCommentarySection?companyName={0}&amp;periodName={1}&amp;section={2}"/>
		<add key="UpdateComentarySectionPath" value="/api/Commentary/updateCommentarySection?companyName={0}&amp;id={1}&amp;commentary={2}&amp;section={3}"/>
		<add key="GetAuditHistoryAsyncPath" value="/api/AuditHistory/GetAuditHistoryAsync"/>
		<add key="GetComentarySectionNamePath" value="/api/Commentary/GetCommentarySectionNames"/>
		<add key="GetComentarySectionTitlesPath" value="/api/Commentary/getCommentarySectionTitles"/>
		<add key="GetCFComentaryValueBulkPath" value="/api/Commentary/GetCFCommentaryValueBulk"/>
		<add key="GetPublishDataPath" value="/api/Statement/PublishData"/>
		<add key="DeletePublishDataPath" value="/api/Statement/DeletePublishData"/>
		<add key="GetLastPublishDataByUserPath" value="/api/Statement/GetLastPublishDataByUser"/>
		<add key="SubmitHelpRequestPath" value="/api/Help/SubmitHelpRequest"/>
		<add key="SaveMetricFormulaObjectsPath" value="/api/metric/SaveMetricFormulaObjects"/>
		<add key="GetMetricFormulasPath" value="{0}metric/getMetricFormulas"/>
		<add key="GetAccountPropertiesPath" value="/statement/getAccountProperties"/>
		<add key="ExcelDataPut_V2Path" value="/statement/excelDataPut_V2"/>
		<add key="UpdateCommentaryTitlesPath" value="/entity/updateCommentarySectionTitles"/>
		<add key="GetEntitySpecBudgetPath" value="/api/budget/getEntitySpecificBudgets"/>
		<add key="GetMetricFormulaObjectPath" value="/api/metric/GetMetricCMFormulaObject?Entity={0}&amp;MetricName={1}"/>
		<add key="GetCubePropertyPath" value="/api/Entity/GetCubeProperty?Entity={0}&amp;CubeProperty={1}"/>
    <!--End of ICFWebApiMethodPathsProvider-->

    <!-- IQvalWebApiMethodPathProvider-->
		<add key="QvalSSORedirectPath" value="/api/Qval/SSORedirect?Entity="/>
		<add key="GetCompanyLevelData" value="{0}/api/captable/getCompanyLevelData"/>
		<add key="QvalQueryPath" value="/api/Qval/Query"/>
		<add key="GetCaptableDataAsyncPath" value="/api/Qval/getCapTableDataAsync?Entity={0}"/>
		<add key="GetCaptableDataTermsAsyncPath" value="/api/Qval/getCapTableDataTermsAsync?Entity={0}"/>
		<add key="GetCaptableSeriesDataAsyncPath" value="/api/Qval/getCapTableSeriesDataAsync?Entity={0}"/>
		<add key="GetOutcomeScenariosAsyncPath" value="/api/Qval/getOutcomeScenariosAsync?Entity={0}"/>
		<add key="GetOutcomeScenariosDetailsAsyncPath" value="/api/Qval/getOutcomeScenarioDetailAsync?Entity={0}&amp;scenarioId={1}"/>
		<add key="GetOutcomeScenarioWaterfallPath" value="/api/Qval/GetOutcomeScenarioWaterfallAsync?Entity={0}&amp;startVal={1}&amp;endVal={2}&amp;exitDate={3}"/>
		<add key="GetValuationsAsyncPath" value="/api/Qval/getValuationsAsync?Entity={0}"/>
		<add key="GetParseRulesPath" value="/api/qval/GetParseRules?EntityMDX={0}"/>
		<add key="GetNoteInvestmentPath" value="{0}/api/captable/getNoteInvestments"/>
		<add key="GetCaptableSeriesDataPath" value="{0}/api/captable/getSeriesData"/>
		<add key="QvalCaptablePagePath" value="/CapTable/CapTable.aspx?VM=1"/>
		<add key="QvalOutcomeAnalysisPagePath" value="/Analytics/OutcomeAnalysis.aspx?scenarioID="/>
		<add key="QvalValuationsPagePath" value="/Valuations/ValuationViewer.aspx?valID="/>
		<add key="GetCapTableDataPath" value="/captable/getCapTableData"/>
    <!-- End of IQvalWebApimethodPathProvider-->

    <!-- ICfEnvironmentInfoProvider-->
    <add key="SqlCmProdUrl" value="CMPROD-SQL1.clearfinancials.com"/>
    <add key="SqlGoogleProdDatabase" value="SqlGoogleProdDatabase"/>
    <add key="PortalUrl" value="https://portal.clearmomentum.com"/>
    <add key="SsasConnectionString" value="https://dev-ssas.clearmomentum.com"/>
    <add key="DatabaseConnection" value="https://dev-data.clearmomentum.com"/>
    <add key="ConnectClearfinancialsUrl" value="http://connect.clearfinancials.com"/>
    <add key="SupportClearmomentum" value="support@clearmomentum.com"/>
    <add key="LocalDomain1" value="http://localhost:9812/"/>
    <add key="LocalDomain2" value="http://10.10.20.113/cf-api/"/>
    <add key="DefaultDomainName" value="CLEARMOMENTUM"/>
    <add key="CFDomainName" value="CLEARFINANCIALS"/>
    <add key="DesktopAdditionalDomainNames" value="CAP;BARNEYNETWORK"/> 
    <add key="DomainName1" value="CAP"/>
    <add key="ClearFinancialsWebHost" value="ClearFinancialsWebHost"/>
    <add key="UserReportDesignerHelpGuide" value="UserReportDesignerHelpGuide"/>
	  <add key="apiUrl" value="https://dev-cf-api.clearmomentum.com" />  
    <!-- End of ICfEnvironmentInfoProvider-->

	<!-- ISmtpSettingsProvider-->
	<add key="SmtpServerName" value="mail.clearmomentum.com"/>
	<add key="SmtpPort" value="25"/>
	<add key="SmtpUserName" value="datacenter"/>
	<add key="SmtpPassword" value="datacenter"/>
	<add key="SmtpUserEmail" value="datacenter@clearmomentum.com"/>
	<add key="SmtpClientEnableSsl" value="true"/>
	<!-- End of ISmtpSettingsProvider-->

	<!-- ILdapInfoProvider -->
	<add key="PathUrl" value="LDAP://cmsp-dc1.clearfinancials.com" />
	<add key="PathUrl2" value="clearfinancials.com" />
	<add key="DomainName" value="CLEARFINANCIALS" />
	<add key="RootUsersOrgUnitPath" value="OU=ClearFinancialsUsers,DC=ClearFinancials,DC=com" />
	<add key="RootUsersOrgUnitName" value="ClearFinancialsUsers" />
	<add key="RootUsersOrgUnitFilter" value="(&amp;(objectClass=group) (cn=ClearFinancialsUsers))" />
	<add key="ServerBindLogin" value="CFSVC1" />
	<add key="ServerBindPassword" value="Bcme2012" />
	<add key="ServerAdminBindLogin" value="CFSVC1" />
	<add key="ServerAdminBindPassword" value="Bcme2012" />
	<!-- ILdapInfoProvider -->

	<!--ISupportInfoProvider-->
    <add key="DesktopEmail" value="jdroach@clearmomentum.com"/>
    <add key="DesktopPhone" value="(585)393-1734"/>
    <add key="ProfessionalServicesEmail" value="support@clearmomentum.com"/>
    <add key="HelpDeskEmail" value="helpdesk@clearmomentum.com"/>
    <add key="AdministratorEmail" value="administrator@clearfinancials.com"/>
    <add key="DataAlertsEmail" value="dataalerts@clearmomentum.com"/>
    <add key="DataCenterEmail" value="datacenter@clearmomentum.com"/>
    <add key="EngineeringEmail" value="Engineering@clearmomentum.com"/>
    <add key="SupportUrl" value="http://www.clearmomentum.com/Support/"/>
    <add key="ReleaseNotesUrl" value="www.clearmomentum.com/releasenotes2010/"/>
    <add key="AlertEmail" value="alerts@clearmomentum.com"/>
    <!--ISupportInfoProvider-->

    <!-- IDatabaseInfoProvider -->
    <add key="ProdDatabaseServer" value="CMPROD-SQL1.clearfinancials.com"/>
    <add key="ProdGoogleDatabaseServer" value="CMPROD-SQLG.clearfinancials.com\Google"/>
    <add key="CorpDevDatabaseServer" value="CMCORP-SQL-DEV1.clearfinancials.com"/>
    <add key="ProdDatabaseName" value="ClearFinancials50_Prod"/>
    <add key="AsDatabaseName" value="ClearFinancials_AS"/>
    <add key="AsCubeName" value="Clear Financials AS"/>
    <add key="ConnectionMetadata" value="res://*/ClearFinancials_AS.csdl|res://*/ClearFinancials_AS.ssdl|res://*/ClearFinancials_AS.msl"/>
    <add key="AdminUserName" value="CFAdmin"/>
    <add key="AdminPassword" value="CFAdmin"/>
    <add key="AdminPsUserName" value="CFAdmin_PS"/>
    <add key="AdminPsPassword" value="CFAdmin_PS"/>
	<add key="CriticalErrorMetadata" value="res://*/CriticalErrors.csdl|res://*/CriticalErrors.ssdl|res://*/CriticalErrors.msl"/>
	<add key="LogDatabaseServer" value="CMFSROC1.clearmomentum.com"/>
	<add key="ErrorsDatabaseName" value="CriticalErrors"/>
	<!-- IDatabaseInfoProvider -->
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
