<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<!-- Don't touch this! This is need for /w Encode <xdt:Import path="bin\Debug\xdt\CustomXdtTransforms.Tests.dll" namespace="CustomXdtTransforms.Tests" />-->
	<xdt:Import path="bin\Debug\xdt\CustomXdtTransforms.dll" namespace="CustomXdtTransforms.Transforms" />

	<connectionStrings>
		<add name="KeyToEncrypt1" connectionString="" providerName="" xdt:Transform="Encode(@connectionString, @providerName)" xdt:Locator="Match(name)" />
		<add name="KeyToEncrypt2" connectionString="" providerName="" xdt:Transform="Encode(@connectionString, @providerName)" xdt:Locator="Match(name)" />
	</connectionStrings>

	<appSettings>
		<add key="KeyToEncrypt1" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key="KeyToEncrypt2" xdt:Transform="Encode" xdt:Locator="Match(key)" />
		<add key="location" value="Canandaigua" xdt:Transform="Encode" xdt:Locator="Match(key)" />
	</appSettings>

	<userSettings>
		<CustomXdtTransforms.Tests.Properties.Settings>
			<setting name="ExpectedEncrypted1" serializeAs="String" xdt:Transform="Encode(value, @serializeAs)" xdt:Locator="Match(name)">
				<value>SomeNewEncryptedValue1</value>
			</setting>
			<setting name="ExpectedNotEncrypted1" serializeAs="String" xdt:Transform="Encode(@test1, test/tt/@id, //root[@id=2])" xdt:Locator="Match(name)">
				<value>SomeNotEncryptedValue1</value>
			</setting>
			<setting name="ExpectedEncrypted2" serializeAs="String" xdt:Transform="Encode(value, @serializeAs)" xdt:Locator="Match(name)">
			</setting>
			<setting name="ExpectedNotEncrypted2" serializeAs="String">
				<value>SomeNotEncryptedValue2</value>
			</setting>
		</CustomXdtTransforms.Tests.Properties.Settings>
	</userSettings>
</configuration>