<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="CustomXdtTransforms.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="KeyToEncrypt1" connectionString="Data Source=SomeServer;Initial Catalog=EncryptDB1;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="UnTouchedKey1" connectionString="Data Source=SomeServer;Initial Catalog=SomeDB1;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="KeyToEncrypt2" connectionString="Data Source=SomeServer;Initial Catalog=EncryptDB2;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="UnTouchedKey2" connectionString="Data Source=SomeServer;Initial Catalog=SomeDB2;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="KeyToEncrypt1" value="PlainValue1" />
		<add key="UnTouchedKey1" value="UnTouchedValue1" />
		<add key="KeyToEncrypt2" value="PlainValue2" />
		<add key="UnTouchedKey2" value="UnTouchedValue2" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />

		<add key="location" value="Kiev"/>

		<add key="Test" value="herna"/>
		
	</appSettings>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>

	<userSettings>
		<CustomXdtTransforms.Tests.Properties.Settings>
			<setting name="ExpectedEncrypted1" serializeAs="String">
				<value>EncryptedValue1</value>
			</setting>
			<setting name="ExpectedNotEncrypted1" serializeAs="String">
				<value>SomeNotEncryptedValue1</value>
			</setting>
			<setting name="ExpectedEncrypted2" serializeAs="String">
				<value>EncryptedValue2</value>
			</setting>
			<setting name="ExpectedNotEncrypted2" serializeAs="String">
				<value>SomeNotEncryptedValue2</value>
			</setting>
		</CustomXdtTransforms.Tests.Properties.Settings>
	</userSettings>
</configuration>