<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CustomXdtTransforms" version="1.1.0.208" targetFramework="net45" />
  <package id="FluentAssertions" version="3.3.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="Unity" version="3.5.1404.0" targetFramework="net45" />
</packages>