<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- ICFWebApiMethodPathsProvider-->
		<add key="ClearfinancialsCreateReportPath" value="/_layouts/ClearFinancials/CreateReport.aspx?SiteURL="/>
		<add key="AccountUserInfoPath" value="/api/Account/UserInfo"/>
		<add key="GetCFSitePath" value="/site/getCFSite"/>
		<add key="ChangePasswordPath" value="/api/Account/ChangePassword"/>
		<add key="GetTemplateAllCFSitePath" value="/template/getAll?CFSiteName={0}"/>
		<add key="GetEntityContextPath" value="api/Entity/GetEntityContext?Entity="/>
		<add key="SetLastApprovedPeriodPath" value="/entity/setLastApprovedPeriod?username="/>
		<add key="ProductionProcessCubePath" value="/api/Cube/ProcessCube"/>
		<add key="GetEntityDataListPath" value="/api/entity/GetEntityDataList?Entity="/>
		<add key="GetEntityDataValueBulkPath" value="/api/EntityData/GetEntityDataValueBulk?ReturnMostRecent="/>
		<add key="GetCompanyLastCommonClosedPeriodPath" value="/api/Entity/GetCompanyLastCommonClosedPeriod?Entity="/>
		<add key="GetDateFromPeriodMDXPath" value="/api/Period/GetDateFromPeriodMDX"/>
		<add key="AddComentarySectionPath" value="/api/Commentary/addCommentarySection?companyName={0}&amp;periodName={1}&amp;commentary={2}&amp;section={3}"/>
		<add key="GetComentarySectionPath" value="/api/Commentary/GetCommentarySection?companyName={0}&amp;periodName={1}&amp;section={2}"/>
		<add key="UpdateComentarySectionPath" value="/api/Commentary/updateCommentarySection?companyName={0}&amp;id={1}&amp;commentary={2}&amp;section={3}"/>
		<add key="GetAuditHistoryAsyncPath" value="/api/AuditHistory/GetAuditHistoryAsync"/>
		<add key="GetComentarySectionNamePath" value="/api/Commentary/GetCommentarySectionNames"/>
		<add key="GetComentarySectionTitlesPath" value="/api/Commentary/getCommentarySectionTitles"/>
		<add key="GetCFComentaryValueBulkPath" value="/api/Commentary/GetCFCommentaryValueBulk"/>
		<add key="GetPublishDataPath" value="/api/Statement/PublishData"/>
		<add key="DeletePublishDataPath" value="/api/Statement/DeletePublishData"/>
		<add key="GetLastPublishDataByUserPath" value="/api/Statement/GetLastPublishDataByUser"/>
		<add key="SubmitHelpRequestPath" value="/api/Help/SubmitHelpRequest"/>
		<add key="SaveMetricFormulaObjectsPath" value="/api/metric/SaveMetricFormulaObjects"/>
		<add key="GetMetricFormulasPath" value="{0}metric/getMetricFormulas"/>
		<add key="GetAccountPropertiesPath" value="/statement/getAccountProperties"/>
		<add key="ExcelDataPut_V2Path" value="/statement/excelDataPut_V2"/>
		<add key="UpdateCommentaryTitlesPath" value="/entity/updateCommentarySectionTitles"/>
		<add key="GetEntitySpecBudgetPath" value="/api/budget/getEntitySpecificBudgets"/>
		<add key="GetMetricFormulaObjectPath" value="/api/metric/GetMetricCMFormulaObject?Entity={0}&amp;MetricName={1}"/>
		<add key="GetCubePropertyPath" value="/api/Entity/GetCubeProperty?Entity={0}&amp;CubeProperty={1}"/>
		<!--End of ICFWebApiMethodPathsProvider-->

		<!-- IQvalWebApiMethodPathProvider-->
		<add key="QvalSSORedirectPath" value="/api/Qval/SSORedirect?Entity="/>
		<add key="GetCompanyLevelData" value="{0}/api/captable/getCompanyLevelData"/>
		<add key="QvalQueryPath" value="/api/Qval/Query"/>
		<add key="GetCaptableDataAsyncPath" value="/api/Qval/getCapTableDataAsync?Entity={0}"/>
		<add key="GetCaptableDataTermsAsyncPath" value="/api/Qval/getCapTableDataTermsAsync?Entity={0}"/>
		<add key="GetCaptableSeriesDataAsyncPath" value="/api/Qval/getCapTableSeriesDataAsync?Entity={0}"/>
		<add key="GetOutcomeScenariosAsyncPath" value="/api/Qval/getOutcomeScenariosAsync?Entity={0}"/>
		<add key="GetOutcomeScenariosDetailsAsyncPath" value="/api/Qval/getOutcomeScenarioDetailAsync?Entity={0}&amp;scenarioId={1}"/>
		<add key="GetOutcomeScenarioWaterfallPath" value="/api/Qval/GetOutcomeScenarioWaterfallAsync?Entity={0}&amp;startVal={1}&amp;endVal={2}&amp;exitDate={3}"/>
		<add key="GetValuationsAsyncPath" value="/api/Qval/getValuationsAsync?Entity={0}"/>
		<add key="GetParseRulesPath" value="/api/qval/GetParseRules?EntityMDX={0}"/>
		<add key="GetNoteInvestmentPath" value="{0}/api/captable/getNoteInvestments"/>
		<add key="GetCaptableSeriesDataPath" value="{0}/api/captable/getSeriesData"/>
		<add key="QvalCaptablePagePath" value="/CapTable/CapTable.aspx?VM=1"/>
		<add key="QvalOutcomeAnalysisPagePath" value="/Analytics/OutcomeAnalysis.aspx?scenarioID="/>
		<add key="QvalValuationsPagePath" value="/Valuations/ValuationViewer.aspx?valID="/>
		<add key="GetCapTableDataPath" value="/captable/getCapTableData"/>
		<!-- End of IQvalWebApimethodPathProvider-->

		<!-- ICfEnvironmentInfoProvider-->
		<add key="SqlCmProdUrl" value="tUjM3byDqFqXYJZq7u7gIstdLO42tfnsiHnXUAQ/W7c="/>
		<add key="SqlGoogleProdDatabase" value="/9mLqQ6XlFFRkP5/1pXEVDtrQlRRHcqWcSeOkmdan/E="/>
		<add key="PortalUrl" value="sDu2Mt4c20DUyE2AUAkj8CYtsLEhhC0JHP3KTXkroD9VMG4Id6IiFXPfFiwwzriq"/>
		<add key="SsasConnectionString" value="MmMjoNIJMvW7V0bT5BVMtZrhw9dURLvG0UpR8uq1/3ERF5pEjomGnPrYIRSnqM6zV3/z6S5aJhdZ2482d+qcerfyTfBD3OXO38M081U6s2U="/>
		<add key="DatabaseConnection" value="eLyD2YDMK+WfmbVVSdho3cx6QiwRoIAuAR8EeRHNAdtiJzyWcSvBatV831fGhHw6"/>
		<add key="ConnectClearfinancialsUrl" value="XZYDdLH6QV2eX4CU3SjM9ATrlCd8I5W0zxffOHUW3ISQ7Z2w/nPqctLyDWdONtEv"/>
		<add key="SupportClearmomentum" value="rdKyawV0UiImtm6flTFDZ+3DbuI4MrM6GNdEFuhgb5I="/>
		<add key="LocalDomain1" value="8Rmu5xTA/d7ffaVgZiVTxAjM2SM+oAfxQYjR5zOq0Vk="/>
		<add key="LocalDomain2" value="DCE8YpbMLfnEvT2a5T5nE2txkrZvXReA2hhJ5RgOYGA="/>
		<add key="DefaultDomainName" value="YOrda1vM4SG2NX/8LkuN8g=="/>
		<add key="CFDomainName" value="wdEG5XRcXiTJH6/jnFFifg=="/>
		<add key="DesktopAdditionalDomainNames" value="2e5yECU3maoTQwulIBtFviMNiQneXdPAWidiPyfVfwI="/>
		<add key="DomainName1" value="lXdRmtkdvu3sbKQI8qslhg=="/>
		<add key="ClearFinancialsWebHost" value="V5aeDrYYMMWl/YXGBX3W5ccEOX1z7hwCG+XwcbzQafo="/>
		<add key="UserReportDesignerHelpGuide" value="eDD/BGIsEFWqXqNHVRKuA4E+4T3eIIrFAidZKN0wPdk="/>
		<add key="apiUrl" value="vnOQkNny2ruVz6YRzOThr1IHzAAC2w1D+j4NJJc76So=" />
		<!-- End of ICfEnvironmentInfoProvider-->

		<!-- ISmtpSettingsProvider-->
		<add key="SmtpServerName" value="lssWSc3gB+d24ybE8ubXRXe6MicLPDLMuhBIbow8d0t5hBRapnY90/gGTjZy6Qpi"/>
		<add key="SmtpPort" value="UPCjTghIVXurG42avlFPGw=="/>
		<add key="SmtpUserName" value="RVbXx9Ya79G3su4D7O4+6A=="/>
		<add key="SmtpPassword" value="2scN97kRCjz3aV+uL+nSuA=="/>
		<add key="SmtpUserEmail" value="eX0WkTFJ8ZUBxXpq/IPg0F8B82UscNS9/AUJ/kebNoY="/>
		<add key="SmtpClientEnableSsl" value="G4l5wFuinkHUuZJPm8t+4M0iTBw3niI2C6vvRSovVYA="/>
		<!-- End of ISmtpSettingsProvider-->

		<!-- ILdapInfoProvider -->
		<add key="PathUrl" value="w6FswT9AsoDxPJmkWjYbOly5g44DUpDkDFcx3O9x8yY=" />
		<add key="PathUrl2" value="mgqTTK/Buqb/2AXcZUDH3+LksemOxed3M2z97OnA6Lc=" />
		<add key="DomainName" value="wdEG5XRcXiTJH6/jnFFifg==" />
		<add key="RootUsersOrgUnitPath" value="J49AzJTeY3fgbC5M13FxwpS2Ep32DkDumZHhDmQQMaMbpRKCRDAgNxJPM35ECQOkJbL7D7bjzYac0yqBJkVqCQ==" />
		<add key="RootUsersOrgUnitName" value="SvX2hqxHZA4BUvWtxqRzuncUayUBaogk8kN68dLjq1o=" />
		<add key="RootUsersOrgUnitFilter" value="CdbmM3plAsHNVcWUZUECkx0mFmNAXFP4RLBhBnTrJS4QaBe0NXTvGyYIyVOGrNihFH5e+cmZGRNnyhZ51zkXfw==" />
		<add key="ServerBindLogin" value="/OJrDknkTjm8SZLYZ9xsxvzz4AnH6SWO3hYtepij4kMd2a0rnZVWSVh1W7nLgj8x" />
		<add key="ServerBindPassword" value="MQntTDGVvMbiImvFP/XaGw==" />
		<!-- ILdapInfoProvider -->
		
		<!--ISupportInfoProvider-->
		<add key="DesktopEmail" value="9PfAtHg141oSOMPsau1NoUKBdGbt1eNjg9ICsyNDo8g="/>
		<add key="DesktopPhone" value="jNPldaWclykH0LxKEGBHKQ=="/>
		<add key="ProfessionalServicesEmail" value="rdKyawV0UiImtm6flTFDZ2QBKyyXBKqeTJIQUGucvtc="/>
		<add key="HelpDeskEmail" value="NTR0sLazheQb32MaFTwnhdU2ch6VWZtN20qL37+QN8w="/>
		<add key="AdministratorEmail" value="mHHXHdbFDqrTQa3XyRlESbwjcYlSCd9kZ9+jKvLW9HxcL0YJ+BNmGW18qTSfsrDA"/>
		<add key="DataAlertsEmail" value="26ETwtnglMhe4aCjR+C4nrPSF7O7pOW+ADBNLgg5FRo="/>
		<add key="DataCenterEmail" value="eX0WkTFJ8ZUBxXpq/IPg0DJQ83Kcc36jV88OsB+9gJo="/>
		<add key="EngineeringEmail" value="GTWKOJqGBTcAG5c3++E9TTQmeMs5uQQIf8ajxJAF1iY="/>
		<add key="SupportUrl" value="QBSSbZeqP1EvjRHTeouUu5xMp7FjgS99tk8rJrpC+bc5BMf4S4zQc0KkOExY302W"/>
		<add key="ReleaseNotesUrl" value="OdR/8bm4SP+Ak47A074Ml+Mb6y4Ho4t1iwwq8+5ZEGxBbAjAlin+bNDt9Tmo0yfi"/>
		<add key="AlertEmail" value="+w/7HT/Up/UJu3KzcbgqB+v1vHSL6856aBerrZ/uoXo="/>
		<!--ISupportInfoProvider-->

		<!-- IDatabaseInfoProvider -->
		<add key="ProdDatabaseServer" value="tUjM3byDqFqXYJZq7u7gIstdLO42tfnsiHnXUAQ/W7c="/>
		<add key="ProdGoogleDatabaseServer" value="kjMAVsaH+3dGrMSLHUYU82mKItnwnmHyeOxT2bsvsd+/26UMILmsoAne88fH6jEG"/>
		<add key="CorpDevDatabaseServer" value="YvvpnJFN63qebaDIx7UBTq7o99qdDbMsAcQ0Om8bt30vWzvVF1cQWmGTh8SDlXGG"/>
		<!--this field requires encryption-->
		<add key="ProdDatabaseName" value="R502SZfci1TMMWn9GDT9g1QXtvCI+gNhK8N/13LjEYRwM+qml+//MZ5aWP65T/Gh"/>
		<!--this field requires encryption-->
		<add key="AsDatabaseName" value="mlgkyhHqpBQwYTfGnSUe6vf8qG9ePeHw/VL+OtQxdDvKJB4IQs3IY9RyJz3F10Pk"/>
		<add key="AsCubeName" value="NCui3qb8F6fjwwjTLi+k6AmFb+Ff2aU22/loqDE0Zx0="/>
		<add key="ConnectionMetadata" value="iOQi8U4DsFmsOUx8HxoTzT9w/oM1JZIesr/aQkSVyOlLfFqqOlNxUm57XMB4NP2LufeOhOlVTOzkIVAcToiDkjAfdZx9AWa9NS0nfM1rERrNuUby3Hnk6kaG6y9Y4nQc"/>
		<add key="AdminUserName" value="h1KBGh7DmmxmUz/tOczXEQ=="/>
		<add key="AdminPassword" value="t0MOanQbYtLxoGly9vSpQw=="/>
		<add key="AdminPsUserName" value="r2oF1rG0V/TNipJ4J5TXZg=="/>
		<add key="AdminPsPassword" value="QKptwQivfXo0jfEYCEd1Gw=="/>
		<add key="CriticalErrorMetadata" value="1z+m4o6qNsnS5tW+WGcAQd+Jx644RdjQiw5FbBEWYn4VAc/Ru6KLA4XqAgdHpy1nRx5/MrXjksUWCcTTcZtgbf+heaSUvR8DTWVm3zRn8pH78uUEKHmt5++zIBd5dxDJ"/>
		<!--this field requires encryption-->
		<add key="LogDatabaseServer" value="/F4qPHx2a/cMQSkuUyWbwdwSfWd4r4B79RkTfSX6mL0r8F2D0CHCYA0NFOUbvbY4"/>
		<add key="ErrorsDatabaseName" value="6+klHvOgZuxJwFgaPByzng=="/>
		<!-- IDatabaseInfoProvider -->
	</appSettings>
</configuration>